# Node
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json

# Env
.env

# Logs
logs/
*.log
*.log.*

# OS
.DS_Store
Thumbs.db

# Sequelize
src/db/migrations/*.js
src/db/seeders/*.js

# IDE
.vscode/
.idea/
